<launch>
  
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find eurobot2019)/worlds/eurobot_field.world"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find dog1)/robots/dog1.xacro'"/>

  <node name="dog_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -x 0.5 -y -0.5 -z 0.05 -param robot_description -model doge" />

  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
